@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
/* 
.loader {
  position: relative;
  animation: flix 3s ease-in infinite alternate;
}
.loader:before {
  content: "";
  display: block;
  font-size: 0;
  width: 110px;
  height: 110px;
  background-color: #e905c3;
  background-image:
    radial-gradient(circle 12px at 22px 22px, #ffffff 100%, transparent 0),
    radial-gradient(circle 10px at 6px 40px, #ffffff 100%, transparent 0),
    radial-gradient(circle 14px at 31px -6px, #f8f6f5 100%, transparent 0),
    radial-gradient(circle 5px at 40px 30px, #faf8f8 100%, transparent 0);
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  top: 0%;
  transform: translate(-50%, -100%);
  left: 50%;
  width: 54px;
  height: 32px;
  background: #168d43;
  border-radius: 50px 50px 0 0;
}

@keyframes flix {
  0%,
  60% {
    transform: rotate(-10deg);
  }
  100%,
  30%,
  80% {
    transform: rotate(5deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
} */
/* HTML: <div class="loader"></div> */
/* .loader {
  width: 60px;
  aspect-ratio: 0.5;
  display: grid;
}
.loader:before {
  content: "";
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto auto 0;
  background: #cf4647;
  animation: l9-0 0.5s cubic-bezier(0, 800, 1, 800) infinite;
}
.loader:after {
  content: "";
  width: 100%;
  aspect-ratio: 1 / cos(30deg);
  margin: 0 auto auto;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #524656;
  animation: l9-1 0.5s linear infinite;
}
@keyframes l9-0 {
  0%,
  2% {
    translate: 0 0%;
  }
  98%,
  to {
    translate: 0 -0.2%;
  }
}
@keyframes l9-1 {
  0%,
  5% {
    rotate: 0deg;
  }
  95%,
  to {
    rotate: -60deg;
  }
} */
/* From Uiverse.io by Uncannypotato69 */
.textWrapper {
  height: fit-content;
  min-width: 3rem;
  width: fit-content;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.25ch;
  position: relative;
  z-index: 0;
  color: white;
}

.invertbox {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  left: 0;
  top: 0;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: invert(100%);
  animation: move 2s ease-in-out infinite;
}

@keyframes move {
  50% {
    left: calc(100% - 3rem);
  }
}
